@media only screen and (min-width: 1024px) {
  .side-list-items > li {
    padding: 5px 0;
  }

  .new-post-detail {
    padding-right: 30px;
  }
  .new-post-title,
  .social-sharing-title {
    font-size: 20px;
  }
}
